#quoteswidget {
background-color: black;
border: 1px solid black;
color:white;
    display: block;
max-width:640px;
min-width:320px;
min-height:427px;
max-height:640px;
width:100%;
    margin: 0 auto;
    position: relative;
left:0;
top:0;
    visibility: inherit;
z-index: 90;
    -webkit-user-select: none;
overflow:hidden;
}

#quoteswidget #sharing {
position: absolute;
bottom: 5px;
right:5px;
z-index:101;
width:30px;
height:30px;
right:0;
overflow:hidden;
}


#sharing svg {
fill: white;
}

#loader {
  border: 5px solid grey; /* Light grey */
  border-top: 5px solid white; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  position:relative;
  display:none;
  top:10px;
  left:12px;
 
}

#loadertxt {
  position:relative;
  display:none;
  top:-25px;
  left:60px;
  text-align:left;
  font-family:Helvetica, sans-serif;
  font-size:0.6rem;
  width:80%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#quote {
position:absolute;
z-index: 92;
color:white;
top:50%;
left:5%;
font-family:Helvetica;
font-size:100%;
width:65%;
padding:10px;
margin-bottom:50px;
text-align:left;

}

@media only screen and (max-width: 468px) {
  #quote { text-align:center;width:75%; top: 60%;left: 50%;transform: translate(-50%, -50%);
}}

#quoteswidget a {
color:white;
text-decoration:none;
}

#branding {
position:absolute;
z-index: 93;
width:100%;
padding:10px;
bottom:10px;
text-align:center;
}

#formdiv {
position:absolute;

}

#branding a {
text-decoration:none;
color: white;
font-size:0.5rem;
font-family:Helvetica, sans-serif;
}

#backgroundimg {
max-width:130%;
height:100%;
z-index: 91;
padding-top: 3px;
object-fit:fill;

}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  overflow:hidden;

}

#bg-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
}
